#home {

  &--images {
    .cover();
    position: fixed;
    z-index: -1;
  }

  &--intro {
    z-index: 99;
    transition: 800ms ease;
    position: fixed;
    h1 {
      margin-bottom: 0;
    }
    &.is-loaded {
      transform: translateY(-100%);  
    }
  }

  &--projects {
    .cover();
    position: fixed;
    transform: translateY(100%);
    &.is-loaded {
      transform: translateY(0);
    }
  }

}