@speed: 800ms;
@easing: ease;

.mfp-slideup {

	.mfp-bg {
		background-color: transparent!important;
	}

	.mfp-container {
		background-color: @black;
		transform: translateY(100%);
		padding: 0;
		@media @min {
			transition: transform ( @speed - 500 ) @easing;	
		}
		@media @desktop {
			transition: transform @speed @easing;		
		}
		
	}

	&.mfp-ready {

		.mfp-container {
			transform: translateY(0);	
		}

	}

	&.mfp-removing {

		.mfp-container {
			transform: translateY(100%);	
		}

	}

}

#wrapper {
	@media @min {
		transition: transform ( @speed - 500 ) @easing;	
	}
	@media @desktop {
		transition: transform @speed @easing;		
	}
}

.is-viewing {

	#wrapper {
		@media @tablet {
			transform: translateY(-100%);	
		}
	}

}