#page {

  &-content {
    transition: opacity 300ms ease;
    background: @black;

    &.project-wrapper {
      background: @white;
    }

    //&.post-04

    &--inner {
      margin-bottom: @spaced*2;
    }
    
    &.is {
      &-paginating {
        opacity: 0;
      }
    }

    figure {
    	margin-bottom: @spaced;
    	img {
    		min-width: 100%;
    	}
    	figcaption {
    		padding-top: @spaced/3;
    		color: @gray;
    		.font_size(14);
    	}
    }

  }

}