.hentry {
  
  &__title{
<<<<<<< HEAD
    font-weight: 300;
=======
    .titleFont();
    font-weight: normal;
>>>>>>> develop
  }
  
  &__posted{}
  
  &__content{
  	margin-bottom: @spaced*3;
  	.font_size(16);
    font-weight: 300;
  }
  
  &__footer{}

  &__details {
<<<<<<< HEAD
    padding-left: 0;
    li {
      margin: 0;
      color: @gray;
      &:before {
        display: none;
      }
    }
=======
  	padding-left: 0;
  	li {
  		list-style: none;
  		color: @gray;
  		&:before {
  			display: none;
  		}
  	}
>>>>>>> develop
  }
  
}
